<a class="btn btn-outline-secondary btn-lg" ui-sref="flowers">Back</a>
<button class="btn btn-outline-success btn-lg" type="button" ng-click="openCommentPopupNotImplemented">Comment</button>

<article class="flower-screen">
  <img ng-src="{{ $ctrl.flower.picture ? 'http://localhost:3000' + $ctrl.flower.picture.large : 'img/missing.png' }}" class="figure-img img-fluid rounded" alt="{{ $ctrl.flower.title }}">
  <h1>{{ $ctrl.flower.title }}</h1>
  <p>{{ $ctrl.flower.description }}</p>
  <p>
    Votes: {{ $ctrl.flower.votes }}
    Rating: {{ $ctrl.flower.rating }}
  </p>
  <p class="text-muted">Added on {{ $ctrl.flower.created_at | date }}</p>

  <h3>Comments:</h3>

  <div ng-repeat="comment in $ctrl.comments" class="comment card">
    <div class="card-body">
      <h4 class="card-title">
        <strong>{{ comment.author }}</strong>
        <span ng-show="comment.vote" class="small float-right">Vote: {{ comment.vote }}</span>
      </h4>
      <h6 class="card-subtitle mb-2 text-muted">on {{ comment.created_at | date }}</h6>
      <p class="card-text">{{ comment.body }}</p>
    </div>
  </div>
</article>
